# Kaggle API Key
kaggle.json

# Datasets and Python artifacts
# --- Data handling for Dashboard and Production ---

# Ignore all files in inputs, except the specific dataset needed for the dashboard
inputs/*
!inputs/datasets/raw/inherited_houses.csv

# Ignore all files in outputs, except for processed datasets and trained models
outputs/*
!outputs/datasets/
!outputs/models/

__pycache__/
*.py[cod]
*$py.class
.ipynb_checkpoints/