# Kaggle API Key
kaggle.json

# Datasets and Python artifacts
# --- Data handling for Dashboard and Production ---

# Ignore all files in inputs, except the specific dataset needed for the dashboard
inputs/*
!inputs/datasets/
inputs/datasets/*
!inputs/datasets/raw/
inputs/datasets/raw/*
!inputs/datasets/raw/house-price/

# Ignore all files in outputs, except for processed datasets and trained models
outputs/*
!outputs/datasets/
!outputs/ml_pipeline/

__pycache__/
*.py[cod]
*$py.class
.ipynb_checkpoints/
.notes.md
.important.md
